{{template "base" .}}

{{define "title" }}
    Virtual Terminal
{{end}}

{{define "content" }}
    <h1>Virtual Terminal</h1>
    <p>Virtual Terminal is a web-based terminal emulator that allows you to connect to a remote server and interact with it as if you were sitting in front of it. It is written in Go and uses the xterm.js library.</p>
    <p>It is currently in development and is not ready for production use.</p>
    <p>Source code is available on <a href="
{{end}}

{{define "js" }}

{{end}}
